In [ ]:
library(XML)
ubase = "http://www.cherryblossom.org/"

#### From text
menURLs = 
  c("cb99m.htm", 
    "cb003m.htm", 
    "results/2001/oof_m.html",
    "results/2002/oofm.htm", 
    "results/2003/CB03-M.HTM",
    "results/2004/men.htm", 
    "results/2005/CB05-M.htm", 
    "results/2006/men.htm", 
    "results/2007/men.htm", 
    "results/2008/men.htm", 
    "results/2009/09cucb-M.htm",
    "results/2010/2010cucb10m-m.htm", 
    "results/2011/2011cucb10m-m.htm",
    "results/2012/2012cucb10m-m.htm")
####

#### Text URLS
urls = paste(ubase, menURLs, sep="")
urls[1:4]

# 1999: http://www.cherryblossom.org/cb99m.htm
# 2000: http://www.cherryblossom.org/cb003m.htm
# 2001: http://www.cherryblossom.org/results/2001/oof_m.html

#### Textbook Function
extractResTable =
  #
  # Retrieve data from web site, 
  # find the preformatted text,
  # and write lines or return as a character vector.
  #
  function(url = "http://www.cherryblossom.org/results/2009/09cucb-F.htm",
           year = 1999, sex = "male", file = NULL)
  {
    #added encoding for windows users who get an "A" symbol
    doc = htmlParse(url)    
    #doc = htmlParse(url, encoding="UTF-8")
    
    if (year == 2000) {
      # Get preformatted text from 4th font element
      # The top file is ill formed so the <pre> search doesn't work.
      ff = getNodeSet(doc, "//font")
      txt = xmlValue(ff[[4]])
      els = strsplit(txt, "\r\n")[[1]]
    }
    else if (year == 2009 & sex == "male") {
      # Get preformatted text from <div class="Section1"> element
      # Each line of results is in a <pre> element
      div1 = getNodeSet(doc, "//div[@class='Section1']")
      pres = getNodeSet(div1[[1]], "//pre")
      els = sapply(pres, xmlValue)
    }
    else {
      # Get preformatted text from <pre> elements
      pres = getNodeSet(doc, "//pre")
      txt = xmlValue(pres[[1]])
      els = strsplit(txt, "\r\n")[[1]]
#      els2 = strsplit(txt, "\n")[[1]]
    } 
    
    if (is.null(file)) return(els)
    # Write the lines as a text file.
    writeLines(els, con = file)
  }

# Skip over the first pass
#### Individual Input Components for Testing: 1999
url <- 'http://www.cherryblossom.org/results/1999/cb99m.html'
year <- 1999
sex <- "male"
file <- NULL
####

# Skip over the first pass
#### Individual Input Components for Testing: 2000
url <- 'http://www.cherryblossom.org/results/2000/Cb003m.htm'
year <- 2000
sex <- "male"
file <- NULL
####

#### Textbook example with (1) URL
df1 <- extractResTable(url = "http://www.cherryblossom.org/results/2000/Cb003m.htm", year = 2000, sex = "male", file = NULL)
df2 <- extractResTable(url = "http://www.cherryblossom.org/results/1999/cb99m.html", year = 1999, sex = "male", file = NULL)
#df3 <- extractResTableV2(url = "http://www.cherryblossom.org/results/1999/cb99m.html", year = 1999, sex = "male", file = NULL)

#### Textbook extraction of Male tables (results in an error)
years = 1999:2012
menTables = mapply(extractResTable, url = urls, year = years)
#names(menTables) = years # can't run b/c menTables hasn't been created
#sapply(menTables, length) # can't run b/c menTables hasn't been created

menTables <- list()
for(i in 1:length(years)){
  menTables[[i]] <- try(extractResTable(url=urls[i], year=years[i]))
}

# Let's go check out the first two URLs
urls[1] # [1] "http://www.cherryblossom.org/cb99m.htm"
urls[2] # [1] "http://www.cherryblossom.org/cb003m.htm"

#### Revised URLS
menURLsV2 = 
  c("results/1999/cb99m.html", #"cb99m.htm"
    "results/2000/Cb003m.htm", #"cb003m.htm"
    "results/2001/oof_m.html", #"results/2001/oof_m.html"
    "results/2002/oofm.htm", #"results/2002/oofm.htm"
    "results/2003/CB03-M.HTM", #"results/2003/CB03-M.HTM"
    "results/2004/men.htm", #"results/2004/men.htm"
    "results/2005/CB05-M.htm", #"results/2005/CB05-M.htm"
    "results/2006/men.htm", #"results/2006/men.htm"
    "results/2007/men.htm", #"results/2007/men.htm"
    "results/2008/men.htm", #"results/2008/men.htm"
    "results/2009/09cucb-M.htm", #"results/2009/09cucb-M.htm"
    "results/2010/2010cucb10m-m.htm", #"results/2010/2010cucb10m-m.htm"
    "results/2011/2011cucb10m-m.htm", #"results/2011/2011cucb10m-m.htm"
    "results/2012/2012cucb10m-m.htm" #"results/2012/2012cucb10m-m.htm"
  )
####

#### Revised URLS
urlsV2 = paste(ubase, menURLsV2, sep="")
urlsV2[1:4]

#### Modified textbook extraction of Male tables (results in 1999 having (1) record)
menTables = mapply(extractResTable, url = urlsV2, year = years)
names(menTables) = years
sapply(menTables, length)

#### Code to compare and contrast the format of two different years
substr(menTables$'1999', start = 1, stop = 100)
substr(menTables$'2000', start = 1, stop = 100)
menTables$'2000'[1:10]

#### Revised Function
extractResTableV2 =
  #
  # Retrieve data from web site, 
  # find the preformatted text,
  # and write lines or return as a character vector.
  #
  function(url = "http://www.cherryblossom.org/results/2009/09cucb-F.htm",
           year = 1999, sex = "male", file = NULL)
  {
    #added encoding for windows users who get an "A" symbol
    doc = htmlParse(url, encoding="UTF-8")
    
    if (year == 2000) {
      # Get preformatted text from 4th font element
      # The top file is ill formed so the <pre> search doesn't work.
      ff = getNodeSet(doc, "//font")
      txt = xmlValue(ff[[4]])
      els = strsplit(txt, "\r\n")[[1]]
    }
    else if (year == 2009 & sex == "male") {
      # Get preformatted text from <div class="Section1"> element
      # Each line of results is in a <pre> element
      div1 = getNodeSet(doc, "//div[@class='Section1']")
      pres = getNodeSet(div1[[1]], "//pre")
      els = sapply(pres, xmlValue)
    }
    else if (year == 1999 & sex == "male") { # have to add this else if statement
      # Get preformatted text from <pre> elements
      pres = getNodeSet(doc, "//pre")
      txt = xmlValue(pres[[1]])
      els = strsplit(txt, "\n")[[1]]   
    } 
    else {
      # Get preformatted text from <pre> elements
      pres = getNodeSet(doc, "//pre")
      txt = xmlValue(pres[[1]])
      els = strsplit(txt, "\r\n")[[1]]   
    } 
    
    if (is.null(file)) return(els)
    # Write the lines as a text file.
    writeLines(els, con = file)
  }

#### Corrected function to pull down Male tables with consistent format
menTablesV2 = mapply(extractResTableV2, url = urlsV2, year = years)
names(menTablesV2) = years
sapply(menTablesV2, length)

#### Confirmation that the 1999 and other years have consistent formatting
menTablesV2$'1999'[1:10]
menTablesV2[[2]][1:10]

#### Save the outputs
save(menTablesV2, file = "CBMenTextTables.rda")

#### Now we need to investigate the differences between the male and female result pages
# 2000
df_male_2000 <- extractResTableV2(url = "http://www.cherryblossom.org/results/2000/Cb003m.htm", year = 2000, sex = "male", file = NULL)
df_female_2000 <- extractResTableV2(url = "http://www.cherryblossom.org/results/2000/Cb003f.htm", year = 2000, sex = "female", file = NULL)

df_female_2000[1:10]
df_male_2000[1:10]

# 2006
df_male_2006 <- extractResTableV2(url = "http://www.cherryblossom.org/results/2006/men.htm", year = 2006, sex = "male", file = NULL)
df_female_2006 <- extractResTableV2(url = "http://www.cherryblossom.org/results/2006/women.htm", year = 2006, sex = "female", file = NULL)

df_female_2006[1:10]
df_male_2006[1:10]

######################################################################
# Miscellaneous Code

menTables <- list()
for(i in 1:length(years)){
  menTables[[i]] <- try(extractResTable(url=urlsV2[i], year=years[i]))
}

# Breaking down the extractResTableV2 for 1999 - Men
url <- urlsV2[1]
doc = htmlParse(url, encoding="UTF-8")
pres = getNodeSet(doc, "//pre")
txt = xmlValue(pres[[1]])
els = strsplit(txt, "\r\n")[[1]]
els = strsplit(txt, "\n")[[1]]

# Breaking down the extractResTableV2 for 2009 - Men
url <- urlsV2[11]
doc = htmlParse(url, encoding="UTF-8")
div1 = getNodeSet(doc, "//div[@class='Section1']")
pres = getNodeSet(div1[[1]], "//pre")
els = sapply(pres, xmlValue)

In [3]:
ubase = "http://www.cherryblossom.org/"
menURLs = ["cb99m.htm", 
    "cb003m.htm", 
    "results/2001/oof_m.html",
    "results/2002/oofm.htm", 
    "results/2003/CB03-M.HTM",
    "results/2004/men.htm", 
    "results/2005/CB05-M.htm", 
    "results/2006/men.htm", 
    "results/2007/men.htm", 
    "results/2008/men.htm", 
    "results/2009/09cucb-M.htm",
    "results/2010/2010cucb10m-m.htm", 
    "results/2011/2011cucb10m-m.htm",
    "results/2012/2012cucb10m-m.htm"]
m_urls = [ubase + s for s in menURLs]
m_urls[1:4]

['http://www.cherryblossom.org/cb003m.htm',
 'http://www.cherryblossom.org/results/2001/oof_m.html',
 'http://www.cherryblossom.org/results/2002/oofm.htm']

In [11]:
ubase = "http://www.cherryblossom.org/"
womenURLs = ["results/1999/cb99f.html",
    "results/2000/Cb003f.htm",
    "results/2001/oof_f.html",
    "results/2002/ooff.htm",
    "results/2003/CB03-F.HTM",
    "results/2004/women.htm",
    "results/2005/CB05-F.htm",
    "results/2006/women.htm",
    "results/2007/women.htm",
    "results/2008/women.htm",
    "results/2009/09cucb-F.htm",
    "results/2010/2010cucb10m-f.htm",
    "results/2011/2011cucb10m-f.htm",
    "results/2012/2012cucb10m-f.htm"
]
f_urls = [ubase + s for s in womenURLs]
f_urls[13]

'http://www.cherryblossom.org/results/2012/2012cucb10m-f.htm'

In [2]:
import urllib.request
from bs4 import BeautifulSoup

URL = 'http://www.cherryblossom.org/results/1999/cb99f.html'

response = urllib.request.urlopen(URL)
html = response.read().decode('utf-8')
soup = BeautifulSoup(html, "lxml")
table = soup.find("pre").find(text=True)
raw_rows = [x.strip() for x in table.split('\n')]
table_cols = raw_rows[1].split()
table_cols[1] = table_cols[1] + table_cols[2]
table_cols.remove("/TOT")
table_cols

['PLACE', 'DIV/TOT', 'NAME', 'AG', 'HOMETOWN', 'TIME', 'PACE']

In [3]:
print(''.join(table_cols))

PLACEDIV/TOTNAMEAGHOMETOWNTIMEPACE

In [4]:
table_cols

['PLACE', 'DIV/TOT', 'NAME', 'AG', 'HOMETOWN', 'TIME', 'PACE']

In [5]:
table_cols[1] = table_cols[1] + table_cols[2]
table_cols.remove("/TOT")

ValueError: list.remove(x): x not in list

In [6]:
import pandas as pd
import re

table = soup.find("pre").find(text=True)
raw_rows = [x.strip() for x in table.split('\n')]
table_cols = raw_rows[1].split()
table_cols[1] = table_cols[1] + table_cols[2]
table_cols.remove("/TOT")
parsed_rows = []
for row in raw_rows[3:len(raw_rows[3:])+1]:
    parsed_rows.append(re.split(r'\s{2,}|(?<=[0-9])\s', row))

In [7]:
for row in parsed_rows:
    if len(row)<7:
        print(row)

['3', 'Lidiya Grigoryeva', 'Russia', '53:40', '5:22']
['8', 'Gladys Asiba', 'Kenya', '54:50', '5:29']
['17', 'Connie Buckwalter', 'Lancaster PA', '59:36', '5:58']
['66', '55/1683', 'Deirdre Mccarthygalla 29', 'Arlington VA', '1:09:06', '6:55']
['163', '123/1683', 'Patricia Rhea', '36', 'University Park MD 1:16:24', '7:39']
['368', '283/1683', 'Christine Livingstone 27', 'Alexandria VA', '1:23:06', '8:19']
['409', '20/185', 'Magdalena Chica-Garzo 47', 'Gaithersburg MD', '1:23:48', '8:23']
['410', '316/1683', 'Ann Kim', '25', 'Charlottesville VA 1:23:49', '8:23']
['475', '363/1683', 'Elizabeth Davidsen Bo 36', 'Chevy Chase MD', '1:25:05', '8:31']
['476', '364/1683', 'Elizabeth Lower-Basch 27', 'Alexandria VA', '1:25:06', '8:31']
['496', '381/1683', 'Dana Riesner', '30', 'Montgomery Vill MD 1:25:26', '8:33']
['514', '62/306', 'Kim Freeze', '41', 'Fairfax Station VA 1:25:50', '8:35']
['543', '418/1683', 'Lisa Radziwanowicz', '39', 'Fairfax Station VA 1:26:27', '8:39']
['565', '437/1683', 'Patricia Navin-Greenf 39', 'Arlington VA', '1:26:49', '8:41']
['581', '33/185', 'Marylove Moy', '45', 'University Park MD 1:27:06', '8:43']
['652', '72/306', 'Addie Welch', '41', 'Sherwood Forest MD 1:28:16', '8:50']
['673', '523/1683', 'Sharon Anderson', '23', 'Charlottesville VA 1:28:47', '8:53']
['691', '44/185', 'Diane Sellazzo', '47', 'Cornwall On Hud NY 1:29:04', '8:55']
['735', '567/1683', 'Jeannette Bisson-Camp 32', 'Washington DC', '1:29:37', '8:58']
['748', '576/1683', 'Dee Reeb', '34', 'Fairfax Station VA 1:29:47', '8:59']
['771', '88/306', 'Enid Schantz-Hagelber 43', 'Easton MD', '1:30:12', '9:02']
['776', '24/115', 'Mary Brown', '51', 'Fairfax Station VA 1:30:16', '9:02']
['809', '29/115', 'Arlette Cahen-Coppock 52', 'Falls Church VA', '1:30:37', '9:04']
['860', '653/1683', 'Sangeetha Raghunathan 24', 'Washington DC', '1:31:16', '9:08']
['872', '664/1683', 'Christine Castleberry 27', 'Arlington VA', '1:31:23', '9:09']
['981', '110/306', 'Janet Brown', '44', 'Fairfax Station VA 1:32:51', '9:18']
['984', '111/306', 'Ingrid Molinary-Tinsl 40', 'Arlington VA', '1:32:52', '9:18']
['1047', '800/1683', 'Michelle Brafman-Helf 34', 'Glen Echo MD', '1:33:43', '9:23']
['1158', '883/1683', 'Elizabeth Nightingale 32', 'Washington DC', '1:34:57', '9:30']
['1202', '84/185', 'Linda Scandore', '48', 'Charlottesville VA 1:35:29', '9:33']
['1207', '916/1683', 'Marie Hoefler', '32', 'University Park MD 1:35:32', '9:34']
['1221', '144/306', 'Kate-Louise Gottfried 42', 'Washington DC', '1:35:47', '9:35']
['1302', '985/1683', 'Charlotte Reece Moore 29', 'Arlington VA', '1:36:57', '9:42']
['1310', '151/306', 'Theresa Robertsonphil 44', 'Glen Rock PA', '1:37:02', '9:43']
['1406', '1058/1683', 'Heidi Wood', '34', 'Sherwood Forest MD 1:38:25', '9:51']
['1519', '172/306', 'Christina Caravoulias 44', 'Silver Spring MD', '1:40:07', '10:01']
['1520', '1147/1683', 'Shelly Taylor', '33', 'Fort Washington MD 1:40:08', '10:01']
['1530', '1156/1683', 'Caron Vianda', '29', 'Channel Islands CA 1:40:17', '10:02']
['1659', '125/185', 'Brenda Butler', '49', 'Fort Washington MD 1:42:13', '10:14']
['1735', '199/306', 'Julie Wood', '41', 'Fairfax Station VA 1:43:24', '10:21']
['1756', '26/47', 'M Magdalena Tomaszews 59', 'Gaithersburg MD', '1:43:39', '10:22']
['1792', '209/306', 'Lynn Simon', '42', 'Fairfax Station VA 1:44:13', '10:26']
['1793', '1337/1683', 'Robin Marshall', '35', 'Fairfax Station VA 1:44:13', '10:26']
['1813', '1347/1683', 'Rebecca Cecin', '33', 'Fairfax Station VA 1:44:38', '10:28']
['1890', '143/185', 'Barbara Silletto-Hoch 49', 'Laurel MD', '1:46:02', '10:37']
['1907', '2/2', 'Edith Farias', '75', 'Salisbury Mills NY 1:46:36', '10:40']
['1975', '243/306', 'Bette Jean Rosenhagen 42', 'New York NY', '1:47:54', '10:48']
['2008', '156/185', 'Suzanne Seely', '49', 'Fairfax Station VA 1:48:56', '10:54']
['2021', '1483/1683', 'Pam Sulka', '36', 'Fairfax Station VA 1:49:18', '10:56']
['2092', '1528/1683', 'Joyce Challandes', '28', 'Croton-On-Hudsn NY 1:50:53', '11:06']
['2175', 'Ann Reid', 'Bethesda MD', '1:53:03', '11:19']
['2190', '1592/1683', 'Audrey Doukoure', '31', 'Montgomery Vill MD 1:54:01', '11:25']
['2232', '287/306', 'Susan Maestri', '40', 'Paeonian Spring VA 1:55:55', '11:36']
['2239', '173/185', 'Lois Potter', '45', 'Clifton Heights PA 1:56:31', '11:40']
['2277', '294/306', 'Ingrid Meachum-Harper 42', 'Fort Washington MD 1:59:57', '12:00']
['2306', '1655/1683', 'Stephanie Schalk-Zait 25', 'Rockville MD', '2:03:03', '12:19']

In [8]:
for row in raw_rows[3:10]:
    print(re.split(r'\s{2,}|(?<=[0-9])\s', row))
    #parsed_rows.append(re.split(r'\s{2,}|(?<=[0-9])\s', row))

['1', '1/1683', 'Jane Omoro', '26', 'Kenya', '53:37', '5:22']
['2', '2/1683', 'Jane Ngotho', '29', 'Kenya', '53:38', '5:22']
['3', 'Lidiya Grigoryeva', 'Russia', '53:40', '5:22']
['4', '3/1683', 'Eunice Sagero', '20', 'Kenya', '53:55', '5:24']
['5', '4/1683', 'Alla Zhilyayeva', '29', 'Russia', '54:08', '5:25']
['6', '5/1683', 'Teresa Wanjiku', '24', 'Kenya', '54:10', '5:25']
['7', '6/1683', 'Elana Viazova', '38', 'Ukraine', '54:29', '5:27']

In [9]:
# ISSUE: Data entries are misplaced in columns due to missing values
df = pd.DataFrame(parsed_rows, columns=table_cols)
df

,PLACE,DIV/TOT,NAME,AG,HOMETOWN,TIME,PACE
0,1,1/1683,Jane Omoro,26,Kenya,53:37,5:22
1,2,2/1683,Jane Ngotho,29,Kenya,53:38,5:22
2,3,Lidiya Grigoryeva,Russia,53:40,5:22,None,None
3,4,3/1683,Eunice Sagero,20,Kenya,53:55,5:24
4,5,4/1683,Alla Zhilyayeva,29,Russia,54:08,5:25
...,...,...,...,...,...,...,...
2350,2351,185/185,Dianette Stokes,46,Chesapeake VA,2:17:32,13:46
2351,2352,115/115,Jeanette Lampron,50,Woodbine MD,2:19:58,14:00
2352,2353,1680/1683,Tina Werking,29,Bethesda MD,2:21:40,14:10
2353,2354,1681/1683,Maria Walsh,30,New York NY,2:23:46,14:23
2354,2355,1682/1683,Jane Mcclellan,36,Phoenix AZ,2:26:14,14:38

In [13]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd
import re

def scrape2002(URL):
    response = urllib.request.urlopen(URL)
    html = response.read().decode('utf-8')
    soup = BeautifulSoup(html, "lxml")
    table = soup.find("pre").find(text=True)
    raw_rows = [x.strip() for x in table.split('\n')]
    table_cols = raw_rows[1].split()
    parsed_rows = []
    for row in raw_rows[3:len(raw_rows[3:])+1]:
        parsed_rows.append(re.split(r'\s{2,}|(?<=[0-9])\s', row))
    df = pd.DataFrame(parsed_rows, columns = table_cols)
    return df

In [14]:
f2002 = scrape2002(f_urls[3])

In [15]:
f2002

     Place    Num                  Name  Ag         Hometown      Net      Gun
0        1   6005       Luminita TALPOS  29              Rom    52:50    52:50
1        2   6003         Teyba ERKASSO  20              Eth    52:53    52:55
2        3   6007       Sylvia MOSQUEDA  35              Usa    53:14    53:17
3        4   6022        Teresa WANJIKU  27              Ken    53:36    53:36
4        5   6020          Marla RUNYAN  33              Usa    53:37    53:37
...    ...    ...                   ...  ..              ...      ...      ...
3329  3330  10208  Ann HICKEY SHANKROFF  31  Falls Church VA  2:20:40  2:26:55
3330  3331  11140        Nanette VARIAS  48       Fairfax VA  2:25:49  2:29:46
3331  3332   7045         Joyce KIRKSEY  41    Alexandria VA  2:30:08  2:30:08
3332  3333   8016          Gail SUMMERS  39     Lafayette IN  2:38:58  2:38:58
3333  3334   7100      Rebecca PEARLMAN  31     Baltimore MD  2:42:22  2:42:22

[3334 rows x 7 columns]

In [31]:
f2011 = scrape2002(f_urls[12])
f2011

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 825609: invalid continuation byte

In [55]:
def scrape_2012(URL):
    response = urllib.request.urlopen(URL)
    html = response.read().decode('utf-8')
    soup = BeautifulSoup(html, "lxml")
    table = soup.find("pre").find(text=True)
    raw_rows = [x.strip() for x in table.split('\n')]
    table_cols = raw_rows[6].split()
    table_cols[1] = table_cols[1] + table_cols[2]
    table_cols.remove("/Tot")
    table_cols.remove("S")
    parsed_rows = []
    for row in raw_rows[8:len(raw_rows[8:])+1]:
        parsed_rows.append(re.split(r'\s{2,}|(?<=[0-9])\s', row))
    df = pd.DataFrame(parsed_rows, columns = table_cols)
    return df

f2012 = scrape_2012(f_urls[13])
f2012

,Place,Div/Tot,Num,Name,Ag,Hometown,5,Mile,Time,Pace
0,1,1/2781,2,Jelliah Tinega,26,Kenya,26:48,54:02,5:25,!
1,2,2/2781,24,Malika Mejdoub,29,Ethiopia,27:09,54:24,5:27,!
2,3,1/2228,22,Yihunlish Delelecha,30,Ethiopia,27:09,54:33,5:28,!
3,4,3/2781,14,Agnieszka Ciolek,26,Poland,27:30,54:36,5:28,!
4,5,4/2781,4,Claire Hallissey,29,Arlington VA,27:30,54:37,5:28,!
...,...,...,...,...,...,...,...,...,...,...
9718,9720,2781/2781,18243,Marianne Stonefield,27,Alexandria VA,1:13:14,2:31:10,15:07,None
9719,9721,2226/2228,19039,Helena Walker,33,Silver Spring MD,1:13:14,2:31:11,15:08,None
9720,9722,1363/1366,15180,Liz Boateng,39,Columbia MD,1:14:32,2:31:21,15:09,None
9721,9723,1364/1366,15184,Jennifer Cookson,38,Katy TX,1:14:33,2:31:22,15:09,None
9722,9724,2227/2228,19985,Chanthip Phongkhamsava 33,Washington DC,2:31:38,15:10,None,None,None

In [90]:
def scrape_2011(URL):
    response = urllib.request.urlopen(URL)
    html = response.read()
    soup = BeautifulSoup(html, "lxml")
    table = soup.find("pre").find(text=True)
    raw_rows = [x.strip() for x in table.split('\n')]
    table_cols = raw_rows[6].split()
    table_cols[1] = table_cols[1] + table_cols[2]
    table_cols[8] = table_cols[7] + table_cols[8]
    table_cols[10] = table_cols[10] + table_cols[11]
    table_cols.remove("/Tot")
    table_cols.remove("5")
    table_cols.remove("Tim")
    parsed_rows = []
    for row in raw_rows[8:len(raw_rows[8:])+1]:
        parsed_rows.append(re.split(r'\s{2,}|(?<=[0-9])\s', row))
    df = pd.DataFrame(parsed_rows, columns = table_cols)
    return df

f2011 = scrape_2011(f_urls[12])
f2011

,Place,Div/Tot,Num,Name,Ag,Hometown,5Mile,Time,NetTim,Pace,S
0,1,1/2706,14,Julliah Tinega,25,Kenya,54:02,54:02,5:25,!,None
1,2,1/937,16,Risper Gesabwa,22,Kenya,27:17,54:03,54:03,5:25,!
2,3,1/1866,48,Tgist Tufa,30,Ethiopia,27:17,54:13,54:13,5:26,!
3,4,2/1866,44,Alemtsehay Misganaw,30,Ethiopia,27:17,55:17,55:17,5:32,!
4,5,2/2706,24,Claire Hallissey,28,United Kingdom,28:01,56:17,56:17,5:38,!
...,...,...,...,...,...,...,...,...,...,...,...
9019,9020,919/920,4067,Teresa Ziffer,41,Clarksburg MD,1:10:01,2:33:00,2:23:34,14:22,None
9020,9021,920/920,14278,Heidi Vogelsang,43,Montgomery Villag MD 1:08:47,2:35:35,2:23:45,14:23,None,None
9021,9022,1264/1265,18623,Michelle Bulger,37,Baltimore MD,1:07:17,2:41:10,2:23:53,14:24,None
9022,9023,2703/2706,18531,Larita Williams,28,Washington DC,1:08:27,2:41:18,2:24:23,14:27,None
9023,9024,1865/1866,19176,Ella Ewart,32,Washington DC,1:09:19,2:33:32,2:24:42,14:29,None

In [80]:
def scrape_2010(URL):
    response = urllib.request.urlopen(URL)
    html = response.read().decode('utf-8')
    soup = BeautifulSoup(html, "lxml")
    table = soup.find("pre").find(text=True)
    raw_rows = [x.strip() for x in table.split('\n')]
    table_cols = raw_rows[6].split()
    table_cols[7] = table_cols[7] + table_cols[8]
    table_cols[9] = table_cols[9] + table_cols[10]
    table_cols[11] = table_cols[11] + table_cols[12]
    table_cols.remove("/Tot")
    table_cols.remove("Mile")
    table_cols.remove("Tim")
    table_cols.remove("Tim")
    parsed_rows = []
    for row in raw_rows[8:len(raw_rows[8:])+1]:
        parsed_rows.append(re.split(r'\s{2,}|(?<=[0-9])\s', row))
    df = pd.DataFrame(parsed_rows, columns = table_cols)
    return df

f2010 = scrape_2010(f_urls[11])
f2011

,Place,Div,Num,Name,Ag,Hometown,5Mile,GunTim,NetTim,Pace,S
0,1,1/971,2,Lineth Chepkurui,23,Kenya,25:38,51:51,51:51#,5:12,!
1,2,2/971,28,Julliah Tinega,24,Kenya,25:41,52:40,52:39#,5:16,!
2,3,3/971,6,Belainesh Zemedkun,22,Ethiopia,26:06,53:22,53:22#,5:21,!
3,4,4/971,30,Misker Demessie,23,Ethiopia,27:11,54:37,54:37#,5:28,!
4,5,1/1810,18,Kelly Jaske,33,Portland OR,27:10,54:40,54:40#,5:28,!
...,...,...,...,...,...,...,...,...,...,...,...
8844,8845,560/561,16532,Martha Graf,46,Columbia MD,1:21:46,2:27:18,2:27:18,14:44,None
8845,8846,1176/1177,14300,Veronica Chambers,39,Princeton NJ,1:10:19,2:43:05,2:28:20,14:50,None
8846,8847,845/845,11222,Mary Frances Cloe,41,Arlington VA,1:14:30,2:42:11,2:28:43,14:53,None
8847,8848,2803/2803,8684,Julie Frank,25,Osceola Mills PA,1:13:46,2:36:56,2:29:37,14:58,None
8848,8849,561/561,3876,Amita Goel,45,Centreville VA,1:13:31,2:42:58,2:29:50,14:59,None

In [104]:
def scrape_2009(URL):
    response = urllib.request.urlopen(URL)
    html = response.read()
    soup = BeautifulSoup(html, "lxml")
    table = soup.find("pre").find(text=True)
    raw_rows = [x.strip() for x in table.split('\n')]
    table_cols = raw_rows[6].split()
    table_cols[1] = table_cols[1] + table_cols[2]
    table_cols[8] = table_cols[7] + table_cols[8]
    table_cols[9] = table_cols[9] + table_cols[10]
    table_cols.remove("/Tot")
    table_cols.remove("Gun")
    table_cols.remove("Tim")
    parsed_rows = []
    for row in raw_rows[8:len(raw_rows[8:])+1]:
        parsed_rows.append(re.split(r'\s{2,}|(?<=[0-9])\s', row))
    df = pd.DataFrame(parsed_rows, columns = table_cols)
    return df

f2009 = scrape_2009(f_urls[10])
f2009

,Place,Div/Tot,Num,Name,Ag,Hometown,GunTim,NetTim,Pace,S
0,1,1/953,2,Lineth Chepkurui,21,Kenya,53:32,53:32#,5:22,!
1,2,2/953,22,Belianesh Zemed Gebre,21,Ethiopia,53:55,53:55#,5:24,!
2,3,3/953,34,Teyba Naser,22,Ethiopia,53:58,53:58#,5:24,!
3,4,1/71,6,Abebu Gelan,19,Ethiopia,54:26,54:26#,5:27,!
4,5,1/1130,4,Catherine Ndereba,36,Kenya,54:27,54:27#,5:27,!
...,...,...,...,...,...,...,...,...,...,...
8314,8315,2706/2706,17906,Gita Tohan,25,Bethesda MD,2:36:07,2:25:03,14:31,None
8315,8316,1675/1678,18633,Gloria Sim,32,Fairfax VA,2:34:48,2:25:33,14:34,None
8316,8317,1676/1678,9253,Sarah Manwell,33,Silver Spring MD,2:33:03,2:26:53,14:42,None
8317,8318,159/159,18552,Mary Anders,56,Washington DC,2:26:54,2:26:54,14:42,None
8318,8319,1129/1130,21089,Tiffany Logan,37,Alexadria VA,2:43:15,2:29:38,14:58,None

In [137]:
def scrape_2007(URL):
    response = urllib.request.urlopen(URL)
    html = response.read()
    soup = BeautifulSoup(html, "lxml")
    table = soup.find("pre").find(text=True)
    raw_rows = [x.strip() for x in table.split('\n')]
    table_cols = raw_rows[5].split()
    table_cols[1] = table_cols[1] + table_cols[2]
    table_cols.remove("/Tot")
    parsed_rows = []
    for row in raw_rows[7:len(raw_rows[7:])+1]:
        parsed_rows.append(re.split(r'\s{2,}|(?<=[0-9])\s', row))
    df = pd.DataFrame(parsed_rows, columns = table_cols)
    return df

In [139]:
f2007 = scrape_2007(f_urls[8])
f2007

,Place,Div/Tot,Num,Name,Ag,Hometown,Time,Pace,S,Split
0,1,1/728,4,Teyba Erkesso,24,Ethiopia,51:44#,5:11,!,32:06
1,2,2/728,16,Tatyana Petrova,23,Russia Germant.,52:58#,5:18,!,32:47
2,3,1/1083,8,Kathy Butler,33,United Kingdom,53:26#,5:21,!,33:02
3,4,3/728,28,Magdalene Makunzi,24,Kenya,53:45#,5:23,!,33:02
4,5,2/1083,12,Lidia Simon,33,Romania,53:52#,5:24,!,33:20
...,...,...,...,...,...,...,...,...,...,...
5682,5683,381/382,10345,Rose Bennetch,47,Virginia Beach VA,#,1:35:31,None,None
5683,5684,382/382,14141,Mary Alvarez,47,Little Ferry NJ,#,1:35:36,None,None
5684,5685,518/519,15858,Georgine Maisch,42,Massapequa NY,#,1:36:21,None,None
5685,5686,519/519,16162,Janet Nagy,41,Alexandria VA,#,1:36:21,None,None
5686,5687,728/728,1199,Alice Koethe,24,Washington DC,#,1:37:30,None,None

In [120]:
for row in parsed_rows:
    if len(row) > 12:
        print(row)

['646', '128/1258', '2564', 'Marla Hallacy', '33', '# 122', 'DC', '40:25', '8:05', '50:33', '8:09', '1:22:23', '8:15']
['1012', '350/1994', '6099', 'Eleanor Rathbone', '29', '#501', 'DC', '45:34', '9:07', '55:39', '8:58', '1:25:39', '8:34']
['1173', '400/1994', '16427', 'Emily Naden', '26', '#409', 'DC', '43:57', '8:48', '54:40', '8:48', '1:26:45', '8:41']
['1297', '439/1994', '7861', 'Amanda Branting', '28', 'Apt. T25', 'VA', '44:43', '8:57', '55:18', '8:54', '1:27:35', '8:46']
['1323', '449/1994', '7612', 'Marissa Fitzpatrick', '27', 'Apt. 1003', 'VA', '45:34', '9:07', '55:44', '8:59', '1:27:45', '8:47']
['1692', '569/1994', '10883', 'Jackie Adair', '26', 'Apt. 1003', 'VA', '45:34', '9:07', '56:24', '9:05', '1:30:09', '9:01']
['2246', '424/1258', '19083', 'Grace L Chen', '32', '#518', 'DC', '49:03', '9:49', '1:00:17', '9:42', '1:33:35', '9:22']
['2277', '759/1994', '7125', 'Meghan Espinoza', '27', 'Alexandria Va 2', 'VA', '44:59', '9:00', '56:47', '9:09', '1:33:47', '9:23']
['2324', '112/412', '6972', 'Nancy Cooper', '49', 'Colonial', 'Beach VA', '48:11', '9:39', '59:18', '9:33', '1:34:02', '9:25']
['2507', '838/1994', '5718', 'Stephanie Rogers', '25', '#714', 'DC', '47:13', '9:27', '59:03', '9:31', '1:34:59', '9:30']
['3155', '1025/1994', '11935', 'Stephanie Baker', '29', 'Apt. 307', 'DC', '49:52', '9:59', '1:01:53', '9:58', '1:38:12', '9:50']
['3257', '1059/1994', '12059', 'Jane Larsen', '28', 'Apt 2', 'NJ', '49:59', '10:00', '1:01:59', '9:59', '1:38:39', '9:52']
['3368', '645/1258', '10692', 'Sarah Garner', '34', '#1703', 'VA', '50:54', '10:11', '1:03:04', '10:09', '1:39:16', '9:56']
['3574', '681/1258', '14149', 'Andrea Prasow', '30', 'Apt. 701', 'DC', '52:02', '10:25', '1:04:06', '10:19', '1:40:14', '10:02']
['4813', '936/1258', '16056', 'Stephanie Wood', '30', 'Apt. 308', 'DC', '54:35', '10:55', '1:08:05', '10:58', '1:47:29', '10:45']
['5830', '1145/1258', '17620', 'Julie Appelhagen', '32', '201', 'DC', '56:31', '11:19', '1:11:20', '11:29', '1:57:04', '11:43']

In [129]:
f2007 = scrape_2009(f_urls[8])
f2007

IndexError: list index out of range

In [133]:
raw_rows

['Credit Union Cherry Blossom 10 Mile Road Race',
 'Washington, DC',
 'Sunday, April 1, 2007',
 'Official Female Results With 10km Split',
 '',
 'Place Div  /Tot   Num    Name                   Ag Hometown           Time     Pace  S Split',
 '===== =========== ====== ====================== == ================== =======  ===== = =======',
 '1     1/728        4 Teyba Erkesso          24 Ethiopia             51:44#  5:11 !   32:06',
 '2     2/728       16 Tatyana Petrova        23 Russia Germant.      52:58#  5:18 !   32:47',
 '3     1/1083       8 Kathy Butler           33 United Kingdom       53:26#  5:21 !   33:02',
 '4     3/728       28 Magdalene Makunzi      24 Kenya                53:45#  5:23 !   33:02',
 '5     2/1083      12 Lidia Simon            33 Romania              53:52#  5:24 !   33:20',
 '6     3/1083      40 Galina Alexandrova     31 Russia               54:07#  5:25 !   33:20',
 '7     1/835       10 Dorota Gruca           36 Poland NJ            54:27#  5:27 !   33:35',
 '8     4/728       30 Florence Jepkosgei     23 Kenya                54:56#  5:30 !   33:22',
 '9     5/728       22 Aziza Aliyu            21 Ethiopia             55:11#  5:32 !   33:33',
 '10     2/835       14 Lioudmila Kortchaguina 35 Canada               55:44#  5:35 !   34:10',
 '11     1/1659       6 Alena Samokhvalova     26 Russia               56:40#  5:40 !   34:46',
 '12     2/1659      18 Victoria Jackson       25 Tempe AZ             56:46#  5:41 !   35:02',
 '13     3/1659      48 Julie Culley           25 Baltimore MD         57:18#  5:44 !   35:27',
 '14     6/728       20 Caroline Cretti        22 Boone NC             58:02   5:49 !   36:29',
 '15     7/728      209 Kerry Meagher          23 Washington DC        58:14   5:50     36:11',
 '16     4/1083      52 Susannah Kvasnicka     34 Great Falls VA       59:05   5:55 !   36:36',
 '17     4/1659      54 Heidi Wolfsberger      26 Moosic PA            59:29   5:57 !   36:37',
 '18     5/1659     226 Melissa Tanner         26 Bethesda MD          59:40   5:58     37:03',
 '19     6/1659      32 Veena Reddy            28 Philadelphia PA    1:00:06   6:01 !   37:12',
 '20     5/1083      24 Zika Rea               31 Boone NC           1:00:24   6:03 !   37:34',
 '21     7/1659      44 Renee High             25 Suffolk VA         1:00:47   6:05 !   37:28',
 '22     1/519      147 Martha Merz            44 Annandale VA       1:01:03*  6:07     37:35',
 '23     8/1659     141 Kathleen Liever        28 Alexandria VA      1:01:47   6:11     38:03',
 '24     6/1083    1165 Tara Keller            32 Hilliard OH        1:02:21   6:15     38:35',
 '25     2/519       65 Kelly Dworak           44 Burke VA           1:02:36*  6:16     38:39',
 '26     3/835      170 Brenda Schrank         35 Winchester VA      1:02:52*  6:18     39:02',
 '27     9/1659      58 Diana Pool             26 Westminster MD     1:03:00   6:18 !   38:45',
 '28     8/728      228 Christine Ramsey       24 Baltimore MD       1:03:03   6:19     39:47',
 '29    10/1659     597 Leah McBride           25 Alexandria VA      1:03:07   6:19     39:35',
 '30    11/1659     647 Katie Breitenbach      26 Elkridge MD        1:03:30   6:21     39:27',
 '31    12/1659     983 Margery Glover         25 Washington DC      1:04:28   6:27     40:06',
 '32    13/1659     819 Toni Diegoli           28 Arlington VA       1:04:29   6:27     40:56',
 '33     9/728      215 Hirut Mengistu         21 Ethiopia VA        1:04:35   6:28 !   38:52',
 '34     7/1083    1428 Michelle Mudge-Riley   30 Glen Allen VA      1:04:38   6:28     40:05',
 '35    10/728      207 Alicia Pease           24 Silver Spring MD   1:04:43   6:29     40:25',
 '36     4/835      138 Samantha Kirby         38 Arlington VA       1:04:48*  6:29     40:13',
 '37     3/519      126 Robyn Humphrey         43 Ellicott City MD   1:04:53*  6:30     40:04',
 '38     1/55      1670 Amanda Scheer          19 Wall NJ            1:04:59*  6:30     40:14',
 '39     1/382      177 Patti Stewart-Garbrech 45 Orange Park FL     1:05:09*  6:31     40:25',
 '40    11/728     1306 Lydia Malley           22 Washington DC      1:05:15   6:32     41:07',
 '41     8/1083    1675 Allyson Schindel       32 Glen Allen VA      1:05:17   6:32     40:38',
 '42    12/728      865 Betsy Eames            23 Herndon VA         1:05:26   6:33     41:01',
 '43     5/835      899 Elizabeth Feldman      39 Chevy Chase MD     1:05:29*  6:33     41:15',
 '44     6/835      383 Vicki Lang             38 Columbia MD        1:05:37*  6:34     40:33',
 '45     7/835      900 Tacy Feliciano         38 Columbia MD        1:05:39*  6:34     40:32',
 '46     2/382      104 Vanessa Cox            45 Laurel MD          1:05:45*  6:35     40:37',
 '47     4/519      114 Monica Grillo          42 Arlington VA       1:06:00*  6:36     40:45',
 '48    13/728     1507 Amanda Parrish         24 Washington DC      1:06:06   6:37     40:30',
 '49    14/1659    1708 Kristina Sherry        25 Arlington VA       1:06:11   6:38     41:25',
 '50     3/382      763 Stacy Creamer          47 New York NY        1:06:12*  6:38     41:31',
 '51    15/1659    1309 Laura Mancini          28 Washington DC      1:06:16   6:38     41:22',
 '52     5/519      568 Sharon Baptiste-Johnso 43 Baltimore MD       1:06:27*  6:39     41:16',
 '53    14/728     1316 Pilar Marin            24 Arlington VA       1:06:33   6:40     41:10',
 '54     4/382      102 Cindy Conant           45 Kensington MD      1:06:33*  6:40     40:44',
 '55    16/1659    1140 Linda Johnson          25 Washington DC      1:06:42   6:41     41:21',
 '56    17/1659    1886 Katherine Walker       28 Arlington VA       1:06:44   6:41     40:51',
 '57     9/1083    1656 Monica Sanchez         34 Morganville NJ     1:06:44   6:41     41:01',
 '58    15/728      400 Kaitlin Sheedy         24 Arlington VA       1:06:49   6:41     42:13',
 '59     1/257      221 Sharon Vos             52 Riverside CT       1:06:51*  6:42     41:30',
 '60    18/1659    1650 Jessie Sackett         28 Arlington VA       1:06:54   6:42     41:52',
 '61    19/1659     365 Nicole Atwell          29 Centreville VA     1:06:56   6:42     42:13',
 '62    20/1659    1289 Amanda Luksetich       25 Richmond VA        1:06:57   6:42     41:20',
 '63     8/835      852 Jeanette Dumbrell      38 Falls Church VA    1:06:57   6:42     41:50',
 '64    16/728     7244 Jennifer Frister       23 Langhorne PA       1:07:02   6:43     42:05',
 '65    17/728     1038 Michelle Harburg       24 Washington DC      1:07:03   6:43     41:08',
 '66     5/382      151 Beth Moras             48 Ridgewood NJ       1:07:05*  6:43     41:36',
 '67    18/728      391 Tasha Clearman         23 Baltimore MD       1:07:09   6:43     41:59',
 '68     6/519      870 Amy Eddy               40 Williamstown WV    1:07:21*  6:45     41:50',
 '69    21/1659    1390 Danielle Messinger     27 Arlington VA       1:07:27   6:45     42:08',
 '70    10/1083     474 Sarah Mouton           30 Alexandria VA      1:07:32   6:46     41:51',
 '71    22/1659    1597 Annette Richter        28 Washington DC      1:07:33   6:46     42:27',
 '72    19/728     1571 Julia Pudlin           22 Washington DC      1:07:37   6:46     41:32',
 '73     6/382      111 Lisa Fichman           45 Columbia MD        1:07:40*  6:46     41:59',
 '74    23/1659    1837 Audrey Ting            29 University Park MD 1:07:41   6:47     42:15',
 '75     9/835     5010 Laura Thurston Goodroe 38 Falmouth VA        1:07:49   6:47     41:19',
 '76    11/1083     166 Ann Reed               33 Middleton WI       1:07:52   6:48     42:05',
 '77    10/835     1847 Jean Traub             37 Alexandria VA      1:07:54   6:48     42:16',
 '78    24/1659    4146 Katherine Porter       29 Washington DC      1:07:54   6:48     43:17',
 '79    11/835     1365 Elizabeth McLanahan    36 Washington DC      1:07:55   6:48',
 '80    25/1659     384 Jennifer Ecker         26 Ellicott City MD   1:07:56   6:48     42:55',
 '81     7/519      109 Kristin Didomenico     40 Potomac Falls VA   1:07:58*  6:48     41:40',
 '82    26/1659    1269 Katie Litwinowich      25 Washington DC      1:08:06   6:49     42:45',
 '83    12/1083    1388 Bridget Merrick        30 Washington DC      1:08:12   6:50     40:35',
 '84     7/382      127 Miae Jacobs            47 North Andover MA   1:08:13*  6:50     41:53',
 '85    13/1083     450 Charlotte Joelsson     33 Fairfax VA         1:08:14   6:50     42:23',
 '86    12/835     1110 Barbekka Hurtt         37 Colorado Spring CO 1:08:17   6:50     42:39',
 '87     8/519      986 Kathy Goetz            41 Reston VA          1:08:22   6:51     43:06',
 '88    20/728     1723 Whitney Simon          24 Washington DC      1:08:27   6:51     42:09',
 '89    14/1083   10983 Heather Duckworth      34 Washington DC      1:08:32   6:52     43:46',
 '90     8/382     1985 Lisa Rainsberger       45 Colorado Spring CO 1:08:34*  6:52     42:37',
 '91     9/519      140 Maria Kozloski         42 Bethesda MD        1:08:38   6:52     42:39',
 '92    13/835     1659 Marie Sandrock         35 Alexandria VA      1:08:41   6:53     42:37',
 '93    27/1659    1446 Jill Neumayer Depiper  27 Arlington VA       1:08:43   6:53     42:35',
 '94    21/728       56 Kelly Gruber           23 Westminster MD     1:08:44   6:53 !   42:41',
 '95    28/1659    1649 Liz Sabochik           28 New York NY        1:08:46   6:53     41:59',
 '96     9/382      136 Eleanor Kerr           47 University Park MD 1:08:52*  6:54     42:21',
 '97    15/1083     796 Alina Dawson           31 Winchester VA      1:08:57   6:54     43:13',
 '98    29/1659    1285 Karina Lubell          26 Washington DC      1:09:02   6:55     42:43',
 '99    16/1083     783 Deneen Habarta         34 Baltimore MD       1:09:17   6:56     42:56',
 '100    17/1083    1005 Kelly Green            30 Washington DC      1:09:20   6:56     42:40',
 '101    30/1659    5008 Jennifer May           25 Washington DC      1:09:22   6:57     42:47',
 '102    31/1659     928 Brianne Frazier        28 Washington DC      1:09:25   6:57     43:20',
 '103     2/257      179 Alison Suckling        51 Arnold MD          1:09:26*  6:57     43:26',
 '104    32/1659    3922 Lauren Muldoon         25 Washington DC      1:09:26   6:57     43:09',
 '105    10/382     3600 Soozie Lewis           49 Glen Allen VA      1:09:31*  6:58     43:25',
 '106    11/382       64 Tracey Dugdale         46 Reston VA          1:09:45*  6:59     42:29',
 '107    22/728     1342 Heather McCarthy       24 Lorton VA          1:09:55   7:00     44:07',
 '108    23/728     1577 Lucye Rafferty         22 Houston TX         1:09:55   7:00     44:27',
 '109    24/728    16256 Bethany Oconnor        21 McLean VA          1:10:00   7:00     45:07',
 '110    14/835      445 Stephanie Hammond      39 Springfield VA     1:10:00   7:00     43:51',
 '111    25/728      847 Deborah Dryer          23 Washington DC      1:10:04   7:01     44:11',
 '112    33/1659    3609 Sage Lintner           25 Washington DC      1:10:14   7:02     44:19',
 '113    34/1659    1790 Emily Sturm            26 Reston VA          1:10:14   7:02     43:32',
 '114    18/1083    1271 Danielle Lloyd         30 Alexandria VA      1:10:31   7:04     43:08',
 '115    10/519     5385 Shannon Kohler         40 Adamstown MD       1:10:32   7:04     43:24',
 '116    12/382      134 Patricia Keating       45 Dayton MD          1:10:34*  7:04     43:40',
 '117    11/519     1826 Julie Thienel          43 Columbia MD        1:10:40   7:04     44:48',
 '118    35/1659    2410 Jenny Boyd             29 Germantown MD      1:10:42   7:05     44:40',
 '119    15/835     3437 Christina Kichula      36 Silver Spring MD   1:10:42   7:05     44:14',
 '120    12/519     1183 Susie Kinnecome        43 Bethesda MD        1:10:46   7:05     44:05',
 '121    36/1659     611 Samantha Bird          28 Arlington VA       1:10:50   7:05     43:30',
 '122    19/1083    3815 Ashley McWilliams      30 Washington DC      1:10:55   7:06     44:17',
 '123    20/1083     808 Suzanne Delaney        33 Baltimore MD       1:10:56   7:06     44:33',
 '124    21/1083    2096 Erica Morton           30 Washington DC      1:10:56   7:06     45:05',
 '125    22/1083    1566 Kimberly Price         34 Gaithersburg MD    1:10:57   7:06     44:17',
 '126    37/1659     820 Kara Diegoli           25 Dorchester MA      1:10:58   7:06     44:51',
 '127     3/257      128 Linda Jennings         54 Burlington MA      1:11:02*  7:07     44:14',
 '128    38/1659    4886 Jaimie Wright          28 Washington DC      1:11:02   7:07     43:50',
 '129     4/257       95 Betty Blank            54 Falls Church VA    1:11:03*  7:07     43:51',
 '130    16/835      892 Norma Fall             38 Gainesville VA     1:11:08   7:07     43:35',
 '131    13/519     2776 Sarah Dormon           42 Richmond VA        1:11:12   7:08     44:24',
 '132    39/1659    2536 Mary Casey             26 Washington DC      1:11:13   7:08     44:13',
 '133    17/835      975 Cheryl Gilman          38 Annapolis MD       1:11:15   7:08     43:57',
 '134    40/1659   14270 Maura Belden           27 Baltimore MD       1:11:15   7:08     43:55',
 '135    26/728     1457 Kara Nowak             24 Indianapolis IN    1:11:15   7:08     43:58',
 '136     2/55      2185 Lauren Allen           16 Rockville MD       1:11:21*  7:09     44:17',
 '137    13/382     1630 Lorraine Ross          46 Arlington VA       1:11:22*  7:09     43:59',
 '138    41/1659    3540 Tara Lauderdale        27 Fairfax VA         1:11:33   7:10     45:20',
 '139    18/835     2397 Joanna Bopp            35 Alexandria VA      1:11:34   7:10     45:02',
 '140    19/835     1016 Karen Griffiths        39 Washington DC      1:11:42   7:11     44:23',
 '141    14/519     1897 Laeticia Warring       44 Reston VA          1:11:45   7:11     44:28',
 '142    23/1083     875 Nancy Eiring           33 Washington DC      1:11:46   7:11     44:31',
 '143    42/1659     709 Sarah Chase            26 New York NY        1:11:46   7:11     44:41',
 '144    43/1659    5263 Caroline Nugent        25 Washington DC      1:11:47   7:11     44:45',
 '145     5/257     3438 Linda Kidder           50 Williamsburg VA    1:11:50*  7:11     45:11',
 '146    44/1659    3919 Marybeth Muething      28 Washington DC      1:11:52   7:12     44:47',
 '147    14/382      397 Dorothy Beckett        49 Columbia MD        1:11:54*  7:12     43:55',
 '148    45/1659    1589 Becky Reutlinger       25 Arlington VA       1:11:54   7:12     45:13',
 '149    46/1659     717 Laura Chipkin          26 Arlington VA       1:11:57   7:12     44:57',
 '150    27/728     1586 Kate Reid              24 Washington DC      1:11:58   7:12     45:53',
 '151    28/728     1642 Anna Russell           24 Washington DC      1:11:59   7:12     44:24',
 '152    24/1083    2424 Barbra Brignoli        34 Germantown MD      1:12:10   7:13     44:46',
 '153    29/728      856 Lauren Dunn            24 Washington DC      1:12:10   7:13     43:35',
 '154    15/519     1329 Maria Marvich          43 Annandale VA       1:12:11   7:14     44:07',
 '155    25/1083    6649 Sarah Carr             31 Washington DC      1:12:11   7:14     45:28',
 '156    47/1659   12054 Kathy Lett             29 Burke VA           1:12:14   7:14     44:52',
 '157    16/519      867 Susanne Ebersbach      41 Lewis Center OH    1:12:14   7:14     45:27',
 '158    30/728     5025 Caitlin McPherran      24 Washington DC      1:12:16   7:14     45:28',
 '159    48/1659   10299 Michelle Basile        29 McLean VA          1:12:18   7:14     45:36',
 '160    49/1659   15811 Kim Luckey             28 Arlington VA       1:12:19   7:14     45:52',
 '161    31/728     1755 Megan Sowa             23 Arlington VA       1:12:20   7:14     46:12',
 '162    26/1083    1035 Colleen Hanrahan       34 Alexandria VA      1:12:21   7:15     44:42',
 '163    20/835     5218 Kathleen Joyce         37 Chevy Chase MD     1:12:29   7:15     45:29',
 '164    15/382      145 Sharon Marks           49 Parkersburg WV     1:12:36*  7:16     45:28',
 '165    50/1659   13237 Jamie Smith            26 Arlington VA       1:12:38   7:16     45:52',
 '166    17/519     1537 Lyly Pham              42 Alexandria VA      1:12:50   7:17     44:37',
 '167    51/1659    1883 Natalya Vrutskaboyle   29 Arlington VA       1:12:50   7:17     44:55',
 '168    52/1659    1067 Danielle Henderson     28 Arlington VA       1:12:54   7:18     45:15',
 '169    32/728     2417 Elyse Braner           22 Washington DC      1:13:05   7:19     46:19',
 "170    21/835     1462 Debra O'Connell        39 Bethesda MD        1:13:07   7:19     45:33",
 '171    33/728     1171 Courtney Kenney        24 Arlington VA       1:13:07   7:19     45:03',
 '172     6/257      208 Doris Windsand-Dausman 50 Frederick MD       1:13:09*  7:19     45:17',
 '173    16/382     3580 Teresa Lent            45 Arlington VA       1:13:10   7:19     45:14',
 '174    18/519      605 Helen Beven            41 Kensington MD      1:13:10   7:19     45:04',
 '175    22/835     2304 Diane Barrett          37 Vienna VA          1:13:11   7:20     45:39',
 '176    19/519      747 Jennifer Cooke         44 Washington DC      1:13:11   7:20     45:41',
 '177    34/728     3450 Stephanie King         24 Bethesda MD        1:13:12   7:20     45:57',
 '178    23/835     3092 Laura Greeson          37 Alexandria VA      1:13:12   7:20     46:06',
 '179    24/835      827 Michelle Digruttolo    36 Alexandria VA      1:13:13   7:20     45:04',
 '180    53/1659    3953 Georgina Needham       29 Reston VA          1:13:14   7:20     45:16',
 '181    27/1083    6894 Meredith Cymerman      34 Bethesda MD        1:13:14   7:20     45:53',
 '182    17/382      600 Kathy Bernetti         45 Fulton MD          1:13:15   7:20     45:06',
 '183    28/1083    2182 Karen Allen            30 Washington DC      1:13:17   7:20     45:53',
 '184    20/519     1414 Cynthia Morgan         40 Alexandria VA      1:13:19   7:20     44:56',
 '185    21/519     3049 Erica Glennon          41 Oceanside CA       1:13:19   7:20     45:15',
 '186    22/519     2688 Brenda Dailey          42 Baltimore MD       1:13:20   7:20     45:56',
 '187    23/519     1686 Suzanne Hunt Scoggin   43 Reston VA          1:13:20   7:20     45:38',
 '188    54/1659    1669 Andrea Schaeffer       28 Baltimore MD       1:13:21   7:21     46:36',
 '189     7/257      112 Deborah Flynn          50 Gaithersburg MD    1:13:21*  7:21     45:37',
 '190     3/55     15751 Jamie Lewin            18 Washington DC      1:13:23   7:21     46:34',
 '191    35/728     4033 Elizabeth Osburn       23 Arlington VA       1:13:26   7:21     45:30',
 '192    18/382     3641 Elizabeth Ludes        48 Arlington VA       1:13:29   7:21     46:18',
 '193    36/728     1625 Sarah Romain           23 Arlington VA       1:13:31   7:22     47:50',
 '194    24/519     1520 Sue Pearsall           41 New York NY        1:13:32   7:22     43:43',
 '195    55/1659    4050 Kathleen Palinski      25 Cambridge NY       1:13:34   7:22     48:40',
 '196    25/835     1328 Robin Martz            36 Arlington VA       1:13:35   7:22     46:44',
 '197    26/835     4537 Heidi Splete           36 Washington DC      1:13:35   7:22     46:10',
 '198    25/519    14426 Amy Burgoyne           41 Rockville MD       1:13:36   7:22     45:37',
 '199    19/382     1091 Laura Holland          45 Arlington VA       1:13:37   7:22     45:46',
 '200    37/728     1674 Porter Schiavone       23 Winchester VA      1:13:38   7:22     45:15',
 '201    29/1083    1018 Judy Grobstein         34 Washington DC      1:13:38   7:22     45:35',
 '202    56/1659    2961 Neva Fulkerson         26 Stone Ridge VA     1:13:40   7:22     46:23',
 '203    30/1083    2604 Katherine Cohen        32 New York NY        1:13:40   7:22     45:44',